{% extends "base.html" %} 
{% block content %}

<div class="row">
    <!--Search bar to quickly find results based on inputted band name and album name-->
    <form action="{{ url_for('albums') }}" method="post" class="col m-4 search-bar">
        <div class="row">
            <div class="input-field col m-4 search-bar">
                <i class="fas fa-search prefix black-text text-lighten-3"></i>
                <input type="text" name="search" id="search" class="validate black-text text-lighten-3" required />
                <label for="search">Search Album or Band names</label>
                <a href="{{ url_for('albums') }}" class="btn center-align btn-search red lighten-3 text-shadow">Clear</a>
                <button type="submit" class="blue lighten-3 center-align btn btn-search text-shadow">
                    Search
                </button>
            </div>
        </div>
    </form>
</div>


      <h3 class="center-align card-title">Albums List</h3>
      <!--Albums uploaded to database-->
    {% if albums|length > 0 %}
      <div class="row">
        {% for album in albums %}
        <div class="card-panel green lighten-4 black-text text-lighten-2 col s12 m4 albums center-align">
            <h2 class="band-name">{{ album.band_name }}</h2>
            <br />
            <a href="{{ url_for('view_album', album_id=album._id) }}"><img class="album-card-image" src="{{ album.album_image }}" alt="Album Image" /></a>
            <p class="more-info black-text text-darken-5">Click image for more info</p>
            <h4><strong>{{ album.album_name }}</strong></h4>
            <h6>{{ album.release_date }}</h6>
            <h6>{{ album.genre_name }}</h6>
            <a href="{{ album.website }}" target="_blank">Website</a>
            <p>Uploaded by {{ album.created_by.capitalize() }} on {{ album.created_at }}</p>
        </div>
        {% endfor %}
       </div>
       {% else %}
        <h2 class="band-name center-align red lighten-3 white-text none-found">No uploads found</h2>
        <div class="col s12 center-align">
        <a href="{{ url_for('albums') }}" class="btn green darken-1 sub-button back-btn text-shadow center-align none-found-btn">Back</a>
        </div>
    {% endif %}

{% endblock %}