<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    {% block styles %}
    {% endblock %}
    <title>Irish Music Vault</title>
</head>
<body>

  <header>
      <nav class="nav-extended black darken-4 z-depth-4">
        <!--Top Navbar-->
        <div class="nav-wrapper text">
          <a href="#!" class="brand-logo green-text text-lighten-3">Irish Music Vault</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger right green-text text-lighten-3"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down text">
            <li><a href="" class="text green-text text-lighten-3">Home</a></li>
            <li><a href="" class="text green-text text-lighten-3">Profile</a></li>
            <li><a href="" class="text green-text text-lighten-3">Upload</a></li>
            <li><a href="" class="text green-text text-lighten-3">Register</a></li>
            <li><a href="" class="text green-text text-lighten-3">Login</a></li>
            <li><a href="" class="text green-text text-lighten-3">Logout</a></li>
          </ul>
        </div>
      </nav>
      <!--Mobile Side Navbar-->
      <ul class="sidenav" id="mobile-demo">
        <li><a href="" class="teal-text text-darken-4">Directory</a></li> 
        <li><a href="" class="teal-text text-darken-4">Profile</a></li>
        <li><a href="" class="teal-text text-darken-4">Upload</a></li>
        <li><a href="" class="teal-text text-darken-4">Register</a></li>
        <li><a href="" class="teal-text text-darken-4">Login</a></li>
        <li><a href="" class="teal-text text-darken-4">Logout</a></li>
      </ul>
  </header>

    {% block content %}
    {% endblock %}

    <footer class="page-footer black darken-4 z-depth-4">
      <div class="container">
        <div class="row">
          <div class="col m6 s12">
            <ul class="left text footer-ul">
              <li><a href="" class="text green-text text-lighten-3">Home</a></li>
              <li><a href="" class="text green-text text-lighten-3">Profile</a></li>
              <li><a href="" class="text green-text text-lighten-3">Upload</a></li>
              <li><a href="" class="text green-text text-lighten-3">Register</a></li>
              <li><a href="" class="text green-text text-lighten-3">Login</a></li>
              <li><a href="" class="text green-text text-lighten-3">Logout</a></li>
            </ul>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="green-text text-lighten-3 center text">Find Us On Social Media</h5>
            <ul class="flex">
              <li><a class="green-text text-lighten-3" href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
              <li><a class="green-text text-lighten-3" href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li><a class="green-text text-lighten-3" href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright s12">
        <div class="container green-text text-lighten-3 center copyright">
        © 2021 Third Milestone Project by Aaron Harbourne as a student of Code Institute.
        </div>
      </div>
    </footer>

     <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <script src="{{ url_for('static', filename='js/script.js') }}"></script>
     {% block scripts %}
     {% endblock %}

</body>
</html>