{% extends "base.html" %} 
{% block content %} 
<!--Uploaded albums released in 2021-->
<p class="home-headers grey-text text-darken-4">Uploads Released in 2021</p>
<div class="row">
    <div class="col m2">
        <div class="flex-container">
            {% for album in albums %} 
              {% if album.release_date == "2021" and album.home_page_top == "True" %}
                <a href="{{ url_for('view_album', album_id=album._id) }}"><img class="home-images login-home-images-top z-depth-5" src="{{ album.album_image }}" alt="Album Image" /></a>
              {% endif %} 
            {% endfor %}
        </div>
    </div>
</div>
<!--Explanatory content regarding the site-->
<div class="row">
    <div class="col s12 m6">
        <div class="card card-home black darken-4 z-depth-5">
            <div class="card-content green-text text-lighten-2">
                <span class="card-title center main-header">Irish Music Vault</span>
                <p class="center main green-text text-lighten-4">
                    This project aims to become a fully comprehensive database of albums by Irish bands. Feel free to register your own profile and start adding albums to the ever growing list.<br/>
                    Simply register an account and upload an album. Your upload will appear on the albums page for anyone to see. You have the opportunity at all times to edit/delete an upload.
                    <br />
                    In a band and have your own album? Add it!
                </p>
            </div>
        </div>
    </div>
</div>
<!--Uploads that uploader has rated 5/5-->
<p class="home-headers grey-text text-darken-4">Uploads rated 5/5</p>
<div class="row">
    <div class="col m2">
        <div class="flex-container">
            {% for album in albums %} 
              {% if album.rating == "5" and album.home_page_bottom == "True" %}
              <a href="{{ url_for('view_album', album_id=album._id) }}"><img class="home-images login-home-images-bottom z-depth-5" src="{{ album.album_image }}" alt="Album Image" /></a>
              {% endif %} 
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
