{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col m3">
      <img class="home-images" src="{{ url_for('static', filename='images/home-page-hero-1.jpeg') }}" alt="Fontaines DC">
    </div>
    <div class="col m3">
      <img class="home-images" src="{{ url_for('static', filename='images/home-page-hero-8.jpg') }}" alt="Agreements by Matt Halpin">
    </div>
    <div class="col m3">
      <img class="home-images" src="{{ url_for('static', filename='images/home-page-hero-3.jpg') }}" alt="Organics, Zeitgeist">
    </div>
    <div class="col m3">
        <img class="home-images" src="{{ url_for('static', filename='images/home-page-hero-4.jpg') }}" alt="u2, Joshua Tree">
      </div>
</div>

<div class="row">
    <div class="col s12 m6">
      <div class="card grey darken-4">
        <div class="card-content teal-text text-lighten-3">
          <span class="card-title center text">Irish Music Vault</span>
          <p class="center">
              This project aims to become a fully comprehensive database of albums by Irish bands. Feel free to register
               your own profile and start adding albums to the ever growing list.<br><br> 
               In a band and have your own album? Add it!
          </p>
        </div>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col m3">
      <img class="home-images" src="{{ url_for('static', filename='images/home-page-hero-5.jpg') }}" alt="Suas Síos by Kíla">
    </div>
    <div class="col m3">
      <img class="home-images" src="{{ url_for('static', filename='images/home-page-hero-6.jpg') }}" alt="The Cranberries">
    </div>
    <div class="col m3">
      <img class="home-images" src="{{ url_for('static', filename='images/home-page-hero-7.jpg') }}" alt="Justin Carroll's Togetherness">
    </div>
    <div class="col m3">
        <img class="home-images" src="{{ url_for('static', filename='images/home-page-hero-2.jpg') }}" alt="The Dubliners In Concert">
      </div>
</div>
{% endblock %}