{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col m2">
      <div class="flex-container">
      {% for album in albums %}
        {% if album.this_year == "on" %}
      <img class="home-images-top z-depth-5" src="{{ album.album_image }}" alt="Album Image">
        {% endif %}
      {% endfor %}
      </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
      <div class="card card-home black darken-4 z-depth-5">
        <div class="card-content green-text text-lighten-2">
          <span class="card-title center main-header">Irish Music Vault</span>
          <p class="center main green-text text-lighten-4">
              This project aims to become a fully comprehensive database of albums by Irish bands. Feel free to register
              your own profile and start adding albums to the ever growing list.<br><br>
              In a band and have your own album? Add it!
          </p>
        </div>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col m2">
      <div class="flex-container">
      {% for album in albums %}
          {% if album.rating == "5" %}
      <img class="home-images home-images-bottom z-depth-5" src="{{ album.album_image }}" alt="Album Image">
          {% endif %}
      {% endfor %}
      </div>
    </div>
</div>
{% endblock %}