{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col m2">
      <img class="home-images-top z-depth-5" src="" alt="Fontaines DC">
    </div>
    <div class="col m2">
      <img class="home-images-top z-depth-5" src="" alt="Agreements by Matt Halpin">
    </div>
    <div class="col m2">
      <img class="home-images-top z-depth-5" src="" alt="Organics, Zeitgeist">
    </div>
    <div class="col m2">
        <img class="home-images-top z-depth-5" src="" alt="u2, Joshua Tree">
      </div>
      <div class="col m2">
        <img class="home-images-top z-depth-5" src="" alt="Justin Carroll's Togetherness">
      </div>
      <div class="col m2">
        <img class="home-images-top z-depth-5" src="" alt="The Dubliners, Revolution">
      </div>
</div>

<div class="row">
    <div class="col s12 m6">
      <div class="card card-home black darken-4 z-depth-5">
        <div class="card-content green-text text-lighten-2">
          <span class="card-title center main-header">Irish Music Vault</span>
          <p class="center main green-text text-lighten-4">
              This project aims to become a fully comprehensive database of albums by Irish bands. Feel free to register
              your own profile and start adding albums to the ever growing list.<br><br>
              In a band and have your own album? Add it!
          </p>
        </div>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col m2">
      <img class="home-images z-depth-5" src="" alt="Johnny The Fox by Thin Lizzy">
    </div>
    <div class="col m2">
      <img class="home-images z-depth-5" src="" alt="Vagabonds of the Western World by Thin Lizzy">
    </div>
    <div class="col m2">
      <img class="home-images z-depth-5" src="" alt="Aslan, Loving Me Lately">
    </div>
    <div class="col m2">
        <img class="home-images z-depth-5" src="" alt="Yurodny, Evenset">
      </div>
      <div class="col m2">
        <img class="home-images z-depth-5" src="" alt="John Moriarty, Echos">
      </div>
      <div class="col m2">
        <img class="home-images z-depth-5" src="" alt="The Dubliners In Concert">
      </div>
</div>
{% endblock %}