{% extends "base.html" %}

{% block content %}
 <section class="main-content">
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel green lighten-5 z-depth-5">
           <h3 class="center-align black-text text-darken-3 profile">
               My Profile
           </h3>
           <h5 class="profile">My Details:</h5>
           <span class="center-align">Username: {{ username.capitalize()}}</span><br>
           <span class="center-align">Email: {{ email }}</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m8 offset-m2">
             <div class="card-panel green lighten-3 z-depth-5 white-text text-lighten-2 col s12 m8 offset-m2 center-align">
                <h3 class="profile">My Uploads</h3>
                {% for album in albums %}
                  {% if album.created_by == session["user"] %}
                        <h2 class="profile"><strong>{{ album.band_name }}</strong></h2>
                        <img class="album-card-image" src="{{ album.album_image }}" alt="Album Image">
                        <h4 class="profile"><strong>{{ album.album_name }}</strong></h4>
                        <h6 class="profile">{{ album.release_date }}</h6>
                        <h6 class="profile">{{ album.genre_name }}</h6>
                        <a class="profile" href="{{ album.website }}" target="_blank">Website</a>
                        <p class="profile">Uploaded on, {{ album.created_at }}</p>
                    
                    {% endif %}
              {% endfor %}
            </div>
        </div>
    </div>
</div>
</section>


{% endblock %}