<!--if session['user'] etc. -->
<!--{% else %}
<div class="row">
    <div class="col m2">
        <img class="home-images-top z-depth-5" src="{{ url_for('static', filename='images/home-page-hero-1.jpeg') }}" alt="Fontaines DC" />
    </div>
    <div class="col m2">
        <img class="home-images-top z-depth-5" src="{{ url_for('static', filename='images/home-page-hero-8.jpg') }}" alt="Agreements by Matt Halpin" />
    </div>
    <div class="col m2">
        <img class="home-images-top z-depth-5" src="{{ url_for('static', filename='images/home-page-hero-3.jpg') }}" alt="Organics, Zeitgeist" />
    </div>
    <div class="col m2">
        <img class="home-images-top z-depth-5" src="{{ url_for('static', filename='images/home-page-hero-4.jpg') }}" alt="u2, Joshua Tree" />
    </div>
    <div class="col m2">
        <img class="home-images-top z-depth-5" src="{{ url_for('static', filename='images/home-page-hero-7.jpg') }}" alt="Justin Carroll's Togetherness" />
    </div>
    <div class="col m2">
        <img class="home-images-top z-depth-5" src="{{ url_for('static', filename='images/home-page-hero-10.jpg') }}" alt="The Dubliners, Revolution" />
    </div>
    {% endif %}
</div>--> 

<!--{% else %}
<div class="row">
    <div class="col m2">
        <img class="home-images z-depth-5" src="{{ url_for('static', filename='images/home-page-hero-17.jpg') }}" alt="Johnny The Fox by Thin Lizzy" />
    </div>
    <div class="col m2">
        <img class="home-images z-depth-5" src="{{ url_for('static', filename='images/home-page-hero-15.jpg') }}" alt="Vagabonds of the Western World by Thin Lizzy" />
    </div>
    <div class="col m2">
        <img class="home-images z-depth-5" src="{{ url_for('static', filename='images/home-page-hero-19.jpg') }}" alt="Aslan, Loving Me Lately" />
    </div>
    <div class="col m2">
        <img class="home-images z-depth-5" src="{{ url_for('static', filename='images/home-page-hero-14.jpg') }}" alt="Yurodny, Evenset" />
    </div>
    <div class="col m2">
        <img class="home-images z-depth-5" src="{{ url_for('static', filename='images/home-page-hero-12.jpg') }}" alt="John Moriarty, Echos" />
    </div>
    <div class="col m2">
        <img class="home-images z-depth-5" src="{{ url_for('static', filename='images/home-page-hero-2.jpg') }}" alt="The Dubliners In Concert" />
    </div>
    {% endif %}-->