{% extends "base.html" %}

{% block content %}
<h3 class="center-align title">Upload an album</h3>

<div class="row">
    <form action="" method="POST">
    <div class="input-field col s6 offset-s3 center-align">
      <input id="first_name2" type="text" class="validate input-fields">
      <label class="active input-fields" for="first_name2">Band Name</label>
    </div>
    <div class="input-field col s6 offset-s3 center-align">
        <input id="first_name2" type="text" class="validate input-fields">
        <label class="active input-fields" for="first_name2">Band Name</label>
      </div>
      <div class="input-field col s6 offset-s3 center-align">
        <input id="first_name2" type="text" class="validate input-fields">
        <label class="active input-fields" for="first_name2">Band Name</label>
      </div>
      <div class="input-field col s6 offset-s3 center-align">
        <input id="first_name2" type="text" class="validate input-fields">
        <label class="active input-fields" for="first_name2">Band Name</label>
      </div>
      <div class="input-field col s6 offset-s3 center-align">
        <input id="first_name2" type="text" class="validate input-fields">
        <label class="active input-fields" for="first_name2">Band Name</label>
      </div>
    </form>
  </div>
{% endblock %}