@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Yrsa&display=swap&family=Lobster&display=swap"');
/* Above are the imported fonts used in this project from Google Fonts*/
/* ----------------------------------------------base.html*/
body {
    background-color: #e8f5e9;
}

.text {
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.25);
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}

.main {
    font-family: "Yrsa", sans-serif;
    font-size: 1.25rem;
}

.footer-ul li{
    font-size: 1rem !important;
    margin-bottom: 5px !important;
}

.copyright {
    font-size: 1rem;
}

nav {
    height: 4rem;
}

.brand-logo {
    margin-left: 15px;
}

/* ----------------------------------------------home.html*/

.row .home-images {
    height: 14vw;
    width: 14vw;
}

.row .home-images-top {
    height: 15vw;
    width: 15vw;
    margin-top: 1rem;
    margin-right: 25px;
}

.row .home-images-bottom {
    height: 15vw;
    width: 15vw;
    margin-right: 25px;
}

.flex-container {
    display: flex;
}

.card {
    width: 99vw;
}

.flex {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
}

.main-header {
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.25);
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0px;
    font-size: 3rem !important;
}

.card-home {
    border: 1px solid #00695c;
    margin-bottom: 0px;
    margin-top: 0px;
}

input {
    color: white;
}

.home-headers {
    text-align: center;
    margin: 16px !important;
    font-size: 3rem !important;
    font-family: "Lobster", sans-serif !important;
}
/* ----------------------------------------------registration.html*/

.flashes h4 {
    line-height: 2;
}

.title {
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.25);
    font-family: "Lobster", sans-serif;
    letter-spacing: 0px;
}

.underline {
    text-decoration: underline;
}

.alternative {
    margin-bottom: 3rem;
}

/* ----------------------------------------------albums.html*/

.genres {
    display: flex;
}

.genre-list {
    color: black;
}

.band-name {
    font-family: "Bebas neue", sans-serif;
    color: black;
}

.card-title {
    font-family: "Lobster", sans-serif;
    margin-bottom: 20px;
    font-size: 3.5rem;
}

.albums {
    height: 675px;
    font-family: "Yrsa", sans-serif;
    width: 30%;
    padding: 0;
}

.card-panel {
    border: 1px solid green;
}

.flex-container {
    display: flex;
}

.album-card-image {
    width: 300px;
    height: 300px;
}

.btn-small {
    margin: 10px;
}

.modal-content {
  background-color: black;
}

.modal-text {
    font-size: 2rem;
}

.modal-close {
    margin: 10px;
    font-size: 1.5rem;
}

.flex-row {
    display: flex;
}

.inline li {
    display: inline;
    margin: 2.5rem;
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
}

.more-info {
    font-size: 13px;
}

.select-wrapper input.select-dropdown {
    color: black;
}

/* ----------------------------------------------view-album.html*/

.album-view {
    text-align: center;
}

.back-btn {
    text-align: center;
    margin: 15px;
}

.none-found {
    margin-top: 165px;
    margin-bottom: 165px;
}

.margin {
    margin-left: 15px;
}
/* ----------------------------------------------upload.html*/

.sub-button {
    font-family: "Yrsa", sans-serif;
    color: black;
    font-size: 1rem;
}

.invisible {
    display: none;
}

/* ----------------------------------------------login_home.html*/

.home-headers {
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
}

.home-headers-top {
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    margin-top: 1.25rem !important;
}

.row .login-home-images-top {
    height: 15vw;
    width: 15vw;
    margin-right: 25px;
}

.row .login-home-images-bottom {
    height: 15vw;
    width: 15vw;
    margin-right: 25px;
}

/* ----------------------------------------------profile.html*/

.profile {
    color: black;
    font-family: "Yrsa", sans-serif;
}

.main-content {
    min-height: calc(100vh - 320px);
}

/* ----------------------------------------------404.html*/

.error-header {
    font-family: "Bebas Neue", sans-serif;
    font-size: 5rem;
    margin-top: 10rem;
}

.error-text {
        display: inline;
        margin: 2.5rem;
        font-size: 1.5rem;
        font-family: "Yrsa", sans-serif;
}

.error-links {
    margin-top: 1rem;
}

.error-links a {
    margin-right: 5px;
    padding: 5px;
    color: #ea090d;
}

.error-image {
    margin-top: 1.5rem;
}

/* ----------------------------------------------Form Error Messages*/

.error-msg {
    font-size: 2rem;
    color: #ea090d;
    font-family: "Yrsa", sans-serif;
}

/* ----------------------------------------------Media Queries*/

@media screen and (max-width: 281px) {
    .row .home-images {
        height: 10vw;
        width: 8vw;
    }

    .home-headers {
        font-size: 2rem !important;
    }

    .card {
        width: 93vw;
    }

    .brand-logo {
        margin-left: 0px;
        font-size: 1.3rem !important;
    }

    .inline li {
        display: block;
        margin: 1rem;
        font-size: 1.5rem;
        font-family: "Bebas Neue", sans-serif;
    }

    .album-card-image {
        width: 200px;
        height: 200px;
    }

    .card-panel {
        border: 1px solid green;
        height: 600px;
    }

    .reg-card {
        height: 480px;
    }

    .reg-btn {
        display: none;
    }

    .reg-btn-text {
        font-size: 13px;
    }

    .sign-in-fa {
        display: none;
    }

    .sign-in-text {
        font-size: 14px;
    }

    .login-card {
        height: 320px;
    }

    .error-image {
        width: 100%;
        height: 320px;
    }

    .error-message {
        margin-top: 5px;
    }

    .error-header {
        margin-top: 40px;
    }
}

@media (min-width: 282px) and (max-width: 412px) {
    .row .home-images {
        height: 10vw;
        width: 09vw;
    }

    .card {
        width: 95vw;
    }

    .home-headers {
        font-size: 2rem !important;
    }

    .brand-logo {
        margin-left: 0px;
        font-size: 1.8rem !important;
    }

    .inline li {
        display: block;
        margin: 1rem;
        font-size: 1.5rem;
        font-family: "Bebas Neue", sans-serif;
    }

    .reg-btn-text {
        font-size: 12px;
    }

    .sign-in-fa {
        display: none;
    }

    .sign-in-text {
        font-size: 14px;
    }

    .error-image {
        width: 100%;
        height: 320px;
        margin-bottom: 25px;
    }

    .error-message {
        margin-top: 5px;
        margin-bottom: 25px;
    }

    .error-header {
        margin-top: 40px;
    }
}

@media (min-width: 300px) and (max-width: 320px) {
    .row .home-images {
        height: 10vw;
        width: 07vw;
    }

    .brand-logo {
        margin-left: 0px;
        font-size: 1.5rem !important;
    }

    .reg-btn-text {
        font-size: 13px;
    }

    .reg-btn {
        display: none;
    }

    .sign-in-fa {
        display: none;
    }

    .sign-in-text {
        font-size: 14px;
    }

    .album-card-image {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 413px) and (max-width: 500px) {
    .row .home-images {
        height: 10vw;
        width: 09vw;
    }

    .card {
        width: 95vw;
    }

    .home-headers {
        font-size: 2rem !important;
    }

    .brand-logo {
        margin-left: 0px;
        font-size: 1.8rem !important;
    }
    .inline li {
        display: block;
        margin: 1rem;
        font-size: 1.5rem;
        font-family: "Bebas Neue", sans-serif;
    }

    .error-image {
        width: 100%;
        height: 320px;
        margin-bottom: 25px;
    }

    .error-message {
        margin-top: 5px;
        margin-bottom: 25px;
    }

    .error-header {
        margin-top: 40px;
    }
}

@media (min-width: 500px) and (max-width: 550px) {
    .row .home-images {
        height: 10vw;
        width: 11vw;
    }

    .card {
        width: 97vw;
    }

    .home-headers {
        font-size: 2rem !important;
    }

    .brand-logo {
        margin-left: 0px;
        font-size: 1.8rem !important;
    }

    .inline li {
        display: block;
        margin: 1rem;
        font-size: 1.5rem;
        font-family: "Bebas Neue", sans-serif;
    }

    .error-image {
        width: 100%;
        height: 350px;
        margin-bottom: 25px;
    }

    .error-message {
        margin-top: 5px;
        margin-bottom: 25px;
    }

    .error-header {
        margin-top: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .row .home-images {
        height: 15vw;
        width: 13vw;
    }

    .card {
        width: 97vw;
    }

    .album-card-image {
        width: 200px;
        height: 180px;
    }

    .card-panel {
        border: 1px solid green;
        height: 600px;
    }

    .band-name {
        font-size: 2.75rem;
    }

    .inline li {
        display: block;
        margin: 1rem;
        font-size: 1.5rem;
        font-family: "Bebas Neue", sans-serif;
    }

    .reg-card {
        height: 425px;
    }

    .login-card {
        height: 325px;
    }
    
    .error-image {
        width: 100%;
        height: 350px;
        margin-bottom: 80px;
    }
}

@media (min-width: 1000px) and (max-width: 1050px) {
    .row .home-images {
        height: 15vw;
        width: 14vw;
    }

    .error-image {
        width: 100%;
        height: 350px;
        margin-bottom: 80px;
    }

    .error-text {
        font-size: 1rem;
    }

    .error-links {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1100px) {
    .error-image {
        width: 100%;
        margin-bottom: 80px;
    }

    .row .home-images {
        height: 15vw;
        width: 15vw;
    }

}