@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Yrsa&display=swap');

/* ----------------------------------------------base.html*/
body {
    background-color: #e8f5e9;
}

.text {
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.25);
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}

.main {
    font-family: "Yrsa", sans-serif;
    font-size: 1.25rem;
}

.footer-ul li{
    font-size: 1rem !important;
    margin-bottom: 5px !important;
}

.copyright {
    font-size: 1rem;
}

nav {
    height: 4rem;
}

/* ----------------------------------------------home.html*/

.row .home-images {
    height: 15vw;
    width: 15vw;
    /* margin-top: 1.5rem; */
}

.row .home-images-top {
    height: 15vw;
    width: 15vw;
    margin-top: 1.25rem; 
   
}

.card {
    width: 99vw;
    /* opacity: 0.9; */
}

.flex {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
}

.main-header {
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.25);
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0px;
    font-size: 3rem !important;
}

.card-home {
    border: 1px solid #00695c;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* ----------------------------------------------home.html*/

input {
    color: white;
}

/* ----------------------------------------------registration.html*/

.flashes h4 {
    line-height: 2;
}

.title {
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.25);
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 4px;
}

.underline {
    text-decoration: underline;
}

/* ----------------------------------------------albums.html*/

.genres {
    height: 1000px;
    border-right: 2px solid black;
}

.albums {
    height: 1000px;
}
