@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Yrsa&display=swap&family=Lobster&display=swap"');

/* ----------------------------------------------base.html*/
body {
    background-color: #e8f5e9;
}

.text {
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.25);
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}

.main {
    font-family: "Yrsa", sans-serif;
    font-size: 1.25rem;
}

.footer-ul li{
    font-size: 1rem !important;
    margin-bottom: 5px !important;
}

.copyright {
    font-size: 1rem;
}

nav {
    height: 4rem;
}

.brand-logo {
    margin-left: 15px;
}

/* ----------------------------------------------home.html*/

.row .home-images {
    height: 15vw;
    width: 15vw;
}

.row .home-images-top {
    height: 15vw;
    width: 15vw;
    margin-top: 1rem;
    margin-right: 25px;
}

.row .home-images-bottom {
    height: 15vw;
    width: 15vw;
    margin-right: 25px;
}

.flex-container {
    display: flex;
}

.card {
    width: 99vw;
    /* opacity: 0.9; */
}

.flex {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
}

.main-header {
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.25);
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0px;
    font-size: 3rem !important;
}

.card-home {
    border: 1px solid #00695c;
    margin-bottom: 0px;
    margin-top: 0px;
}

input {
    color: white;
}

.home-headers {
    text-align: center;
    margin: 16px !important;
    font-size: 3rem !important;
    font-family: "Lobster", sans-serif !important;
}
/* ----------------------------------------------registration.html*/

.flashes h4 {
    line-height: 2;
}

.title {
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.25);
    font-family: "Lobster", sans-serif;
    letter-spacing: 0px;
}

.underline {
    text-decoration: underline;
}

/* ----------------------------------------------albums.html*/

/*.genres {
    height: 4000px;
    border-right: 2px solid black;  
} */

.genres {
    display: flex;
}

.genre-list {
    color: black;
}

.band-name {
    font-family: "Bebas neue", sans-serif;
    color: black;
}

.card-title {
    font-family: "Lobster", sans-serif;
    margin-bottom: 20px;
    font-size: 3.5rem;
}

.albums {
    height: 675px;
    font-family: "Yrsa", sans-serif;
    width: 30%;
    padding: 0;
}

.card-panel {
    border: 1px solid green;
}

.flex-container {
    display: flex;
}

.album-card-image {
    width: 300px;
    height: 300px;
}

.btn-small {
    margin: 10px;
}

.modal-content {
  background-color: black;
}

.modal-text {
    font-size: 2rem;
}

.modal-close {
    margin: 10px;
    font-size: 1.5rem;
}

.flex-row {
    display: flex;
}

.inline li {
    display: inline;
    margin: 2.5rem;
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
}

/* ----------------------------------------------upload.html*/

.input-fields{
    font-family: "Yrsa", sans-serif;
    color: black;
    font-size: 1.25rem !important;
}

.sub-button {
    font-family: "Yrsa", sans-serif;
    color: black;
    font-size: 1.25rem;
}

.invisible {
    display: none;
}

/* ----------------------------------------------login_home.html*/

.home-headers {
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
}

.home-headers-top {
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    margin-top: 1.25rem !important;
}

.row .login-home-images-top {
    height: 15vw;
    width: 15vw;
    /* margin-top: 1rem; */
    margin-right: 25px;
}

.row .login-home-images-bottom {
    height: 15vw;
    width: 15vw;
    margin-right: 25px;
}

/* ----------------------------------------------profile.html*/

.profile {
    color: black;
    font-family: "Yrsa", sans-serif;
}

.main-content {
    min-height: calc(100vh - 320px);
}

/* ----------------------------------------------404.html*/

.error-header {
    font-family: "Bebas Neue", sans-serif;
    font-size: 5rem;
    margin-top: 10rem;
}

.error-text {
        display: inline;
        margin: 2.5rem;
        font-size: 1.5rem;
        font-family: "Yrsa", sans-serif;
}

.error-links {
    margin-top: 1rem;
}

.error-links a {
    margin-right: 5px;
    padding: 5px;
    color: #ea090d;
}

.error-image {
    margin-top: 1.5rem;
}

/* ----------------------------------------------Media Queries*/

@media screen and (max-width: 280px) {
    .row .home-images {
        height: 10vw;
        width: 8vw;
    }

    nav .brand-logo {
        font-size: 1.5rem;
    }

    
    }